*{
	font: "Lato";
	}
nav.navbar.navbar-default.navbar-fixed-top{
	background-color: hsla(0, 10%, 20%, 0.9);
}
ul.nav.navbar-nav.navbar-right.social{
	float: right !important;
	position: static;
}
.navbar-default .navbar-nav>li>a {
    color: #edededed;
}